.App {
  text-align: center;
  
}
a{
  text-align: center;
  justify-content: center;
  
}
p{
  font-size: 23px;
}
body {
  font-family: 'nanumsquare';
}
.Modal{
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  border-radius: 10px;

}
.publish{
  margin-top: 30px;
  margin-bottom: 30px;
}
.publish input{
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  border: 1px solid gray;
}
.publish button {
  display: block;
  margin: auto;
  margin-top: 10px;
}


img.n{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  display:inline;
  margin-bottom: -8px;
}
.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 30px;
}
.list{
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.mandu{
  height: auto;
  width: 500px;
}
.mandukuk{
  height: auto;
  width: 500px;
}
.mak{
  height: auto;
  width: 500px;
}

.chef{
  height:auto;
  width: 500px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button{
 
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  border-radius: 10px;

}
.one{
  margin-bottom: 70px;
  
}
.two{
  margin-bottom: 70px;
  
}.three{
  margin-bottom: 70px;
  
}.four{
  margin-bottom: 70px;
  
}
.pushbutton{
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #eee;
  
}
.more{
  font-size: 20px;
  width: 80px;
  height: 40px;
  background-color: #eee;
}
.info{
  width:auto;
  height: auto;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 50px;
  color: #282c34;
  

}
.addr{
  color: #282c34;
  text-decoration-line: underline;

}
.Modal{
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 0px;
}



.button{
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}